body
{
	background-color: grey;
	font-family: "Open", sans-serif;
}

.titre
{
	text-align: center;
}

.finish
{
	text-decoration: line-through;
}

.addtodo
{
	width: 150px;
	max-width: 250px;
	height: 50px;
	font-size: 25px;
}

.buttonlist
{
	width: 100px;
	height: 50px;
	font-size: 25px;
}