body
{
	background-color: grey;
	font-family: "Open", sans-serif;
}

body li
{
	list-style: none;
}
.titre
{
	text-align: center;
}

.finish
{
	text-decoration: line-through;
}

.addtodo
{
	width: 150px;
	height: 100%;
	font-size: 25px;
}

.buttonlist
{
	width: 100px;
	height: 100%;
	background-color: transparent;
	border: 2px dashed black;
	margin: 1px;
}